.product-grid7{
    font-family:'Roboto Slab',serif;
    position:relative;z-index:1;
}
.product-grid7 .product-image7{
    border:1px solid rgba(0,0,0,.1);
    overflow:hidden;
    perspective:1500px;
    position:relative;
    transition:all .3s ease 0s;
}
.product-grid7 .product-image7 a{
    display:block;
}
.product-grid7 .product-image7 img{
    width:100%;
    height:auto;
}
.product-grid7 .pic-1{
    opacity:1;
    transition:all .5s ease-out 0s;
}
.product-grid7 .pic-2{
    opacity:0;
    transform:rotateY(-90deg);
    position:absolute;
    top:0;
    left:0;
    transition:all .5s ease-out 0s;
}

.product-grid7:hover .pic-2{
    opacity:1;
    transform:rotateY(0);
}

.product-grid7 .social{
    padding:0;
    margin:0;
    list-style:none;
    position:absolute;
    bottom:3px;
    left:-20%;
    z-index:1;
    transition:all .5s ease 0s;
}
.product-grid7:hover .social{
    left:17px;
}
.product-grid7 .social li a{
    color:#fff;
    background-color:#333;
    font-size:16px;
    line-height:40px;
    text-align:center;
    height:40px;
    width:40px;
    margin:15px 0;
    border-radius:50%;
    display:block;
    transition:all .5s ease-in-out;
}
.product-grid7 .social li a:hover{
    color:#fff;
    background-color:#78e08f;
}
.product-grid7 .product-new-label{
    color:#fff;
    background-color:#333;
    padding:5px 10px;
    border-radius:5px;
    display:block;
    position:absolute;
    top:10px;
    left:10px;
}
.product-grid7 .product-content{
    text-align:center;
    padding:20px 0 0;
}
.product-grid7 .title{
    font-size:15px;
    font-weight:600;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s;
}
.product-grid7 .title a{
    color:#333;
}
.product-grid7 .title a:hover{
    color:#78e08f;
}
.product-grid7 .rating{
    color:#78e08f;
    font-size:12px;
    padding:0;
    margin:0 0 10px;
    list-style:none;
}
.product-grid7 .price{
    color:#333;
    font-size:20px;
    font-family:Lora,serif;
    font-weight:700;
    margin-bottom:8px;
    text-align:center;
    transition:all .3s;
}
.product-grid7 .price span{
    color:#999;
    font-size:14px;
    font-weight:700;
    text-decoration:line-through;
    margin-left:7px;
    display:inline-block;
}
@media only screen and (max-width:990px){.product-grid7{margin-bottom:30px}
}

/*.header{
    background-image: url('https://www.fcinq.com/v3/wp-content/uploads/home.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    }
    .logo{
        width:200px;
    }
    .logo-title{
        color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    letter-spacing: 5px;
    text-transform: uppercase;
    }
    .top-title{
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin-top: 150px;
    }
    .top-title h1{
    font-family: 'Chela One', cursive;
    }
    .menu{
    padding: 50px;
    padding-top: 200px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #d83f87;
    height: 510px;
    opacity:1;
    position: relative;
    z-index: 5;
    transition: background .2s linear;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    }
    .menu a:hover{
    text-decoration: none;
    }
    .menu li{
    list-style: none;
    }
    .menu li a{
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight:800;
    font-size: 25px;
    position: relative;
    text-transform: uppercase;
    }
    .mh-1:hover .menu{
    background: #ddd;
    z-index: 12;
    overflow: hidden;
    }
    .menu a:hover::before {
    left: -20px;
    width: 15px;
    }
    .menu a::before{
    background: #fff;
    bottom: 6px;
    content: "";
    display: block;
    left: 5px;
    height: 1px;
    position: absolute;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    width: 0;
    }
    .myheader{
        height: 200px;
        background-color: #ccc;
    }
    .myheader .menu{
    padding: 50px;
    padding-top:10px;
    height: 130px;
    position: fixed;
    top: 0;
    width: 30%;
    }
    .myheader .header-left{
    position: fixed;
    top: 0;
    background-color:#151724;
    width: 60%;
    padding: 14px;
    height: 130px;
    }
    .myheader .menu li a{
    font-size: 15px;
    }
    .myheader .top-title{
        position: fixed;
        top: -120px;
        text-align: center;
        left: 30%;
    }
    .myheader .top-title h1{
        font-size:25px;
    }	
    .myheader .logo-title{
        font-size: 14px;
        letter-spacing: 2px;
    }
    /* EFFECTS
    ***************
    
    .glow {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        -webkit-transition: text-shadow 1s linear;
           -moz-transition: text-shadow 1s linear;
             -o-transition: text-shadow 1s linear;
                transition: text-shadow 1s linear;
    }
    
    .glow.in {
      text-shadow: 
        0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8),
        0 0 0.5em rgba(255, 255, 255, 0.3);
    }
    
    .fade {
      opacity: 0;
        -webkit-transition: opacity 1s linear;
           -moz-transition: opacity 1s linear;
             -o-transition: opacity 1s linear;
                transition: opacity 1s linear;
    }
    
    .fade.in {
      opacity: 1;
    }
    
    
    footer{
        margin-top:800px;
    }/

    body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
    background-color: #45ccc5;
    padding: 0;
  }
  
  .topbar .container .row {
    margin:-7px;
    padding:0;
  }
  
  .topbar .container .row .col-md-12 { 
    padding:0;
  }
  
  .topbar p{
    margin:0;
    display:inline-block;
    font-size: 13px;
    color: #f1f6ff;
  }
  
  .topbar p > i{
    margin-right:5px;
  }
  .topbar p:last-child{
    text-align:right;
  } 
  
  header .navbar {
      margin-bottom: 0;
  }
  
  .topbar li.topbar {
      display: inline;
      padding-right: 18px;
      line-height: 52px;
      transition: all .3s linear;
  }
  
  .topbar li.topbar:hover {
      color: #1bbde8;
  }
  
  .topbar ul.info i {
      color: #131313;
      font-style: normal;
      margin-right: 8px;
      display: inline-block;
      position: relative;
      top: 4px;
  }
  
  .topbar ul.info li {
      float: right;
      padding-left: 30px;
      color: #ffffff;
      font-size: 13px;
      line-height: 44px;
  }
  
  .topbar ul.info i span {
      color: #aaa;
      font-size: 13px;
      font-weight: 400;
      line-height: 50px;
      padding-left: 18px;
  }
  
  ul.social-network {
    border:none;
    margin:0;
    padding:0;
  }
  
  ul.social-network li {
    border:none;  
    margin:0;
  }
  
  ul.social-network li i {
    margin:0;
  }
  
  ul.social-network li {
      display:inline;
      margin: 0 5px;
      border: 0px solid #2D2D2D;
      padding: 5px 0 0;
      width: 32px;
      display: inline-block;
      text-align: center;
      height: 32px;
      vertical-align: baseline;
      color: #000;
  }
  
  ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
  }
  
  .waves-effect {
      position: relative;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      will-change: opacity, transform;
      transition: .3s ease-out;
      color: #fff;
  }
  a {
    color: #c9bcc8;
    text-decoration: none;
  }
  
  li {
      list-style-type: none;
  }
  .bg-image-full {
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }
  .bg-dark {
      background-color: #222!important;
  }
  
  .mx-background-top-linear {
      background: -webkit-linear-gradient(45deg, #ebc5df 48%, #1b1e21 48%);
      background: -webkit-linear-gradient(left, #e4c4e0 48%, #1b1e21 48%);
      background: linear-gradient(45deg, #e9bddf 48%, #1b1e21 48%);
  }
  
    
